
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
 @import url("https://fonts.googleapis.com/css?family=Nanum+Pen+Script");
// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

$black:#000000;

//@import bulma/config/generated-variables

$footer-background-color:$black;

@import "./mystyles.scss";

@import "~bulma";

@import "~bulma-steps/bulma-steps.sass";

@import "~bulma-slider/slider.sass";

@import "~bulma-pricingtable/pricing-table.sass";

$fa-font-path: "../fonts";

@import "~font-awesome/scss/font-awesome.scss";

@import "~bulma-checkradio/checkradio.sass";

@import "~bulma-divider/divider.sass";

@import "~bulma-accordion/accordion.sass";